<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">수강생정보</title>
</head>
<body>
    <div th:include="fragments/nav :: menu"></div>
    <div class="container" th:object="${studentResponseDto}">
        <h4>수강생정보</h4>
        <form th:action="@{/students}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="student_name"> 이름 </label>
                <input type="text" id="student_name" class="form-control " name="nickName" readonly th:value="*{name}">
            </div>
            <div class="form-group">
                <label for="student_birthdate"> 생년월일 </label>
                <input type="date" id="student_birthdate" class="form-control" name="realName" readonly th:value="*{birthDate}">
            </div>
            <div class="form-group">
                <label for="student_tel"> 전화번호 </label>
                <input type="tel" id="student_tel" class="form-control" name="tel" readonly th:value="*{tel}">
            </div>
            <div class="form-group">
                <label for="student_email"> 이메일 </label>
                <input type="tel" id="student_email" class="form-control" name="email" readonly th:value="*{email}">
            </div>
            <div class="form-group">
                <label for="student_address"> 주소 </label>
                <input type="tel" id="student_address" class="form-control" name="address" readonly th:value="*{address}">
            </div>
            <div class="form-group">
                <label for="studentType">유형</label>
                <div class="input-group mb-3">
                    <select id="studentType" name="studentType" class="custom-select" th:value="*{studentType}" disabled th:field="*{studentType}">
                        <option value="STUDENT">수강생</option>
                        <option value="CHILDREN">학생(자녀)</option>
                    </select>
                </div>
            </div>
            <div id="parentWrapper" th:class="${studentResponseDto.studentType==T(co.coldflow.depot_music.entity.EStudentType).STUDENT}?'d-none':''">
                <label for="parent">학부모</label>
                <div class="form-group" id="student_parent" >
                    <div class="input-group mb-3">
                        <input type="text" id="parent" class="form-control" name="parentName" disabled readonly th:value="${studentResponseDto.parent!=null ? studentResponseDto.parent.name + ' (' + studentResponseDto.parent.tel + ')': ''}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" disabled data-toggle="modal" type="button" data-target="#parentSearchModal" id="parent_search_modal_open_button">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="d-flex mb-5">
            <a th:href="@{/students/__${studentResponseDto.id}__/edit}" class="btn btn-danger text-white"><i class="fas fa-pencil-alt"></i> 수정</a>
            <a th:href="@{/students}" class="btn btn-secondary ml-auto"><i class="fas fa-bars"></i> 목록</a>
        </div>

    </div>
</body>
</html>