<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">
    <title id="pageTitle">기관 정보</title>
</head>
<style>
</style>
<body>
    <div th:insert="~{student/nav/nav :: menu}"></div>
    <div class="container">
        <h4>기관 정보</h4>

        <div th:object="${basicInformationResponseDto}">
            <div th:text="*{title}">

            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            Roles: <span sec:authentication="principal.authorities"></span>
            Logged user: <span sec:authentication="name"></span>
        </div>
    </div>
</body>
</html>