<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">연결 상세 정보</title>
</head>
<body>
    <div th:include="fragments/nav :: menu"></div>
    <div class="container" th:object="${instructorResponseDto}">
        <h4>연결 상세 정보</h4>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label" for="instructorName"> 강사명 </label>
                <div class="col-sm-10">
                    <input type="text" id="instructorName" class="form-control" name="instructorName" readonly th:value="*{realName+'('+nickName+')'}">
                </div>
            </div>
        </form>

        <div class="d-flex mb-5 align-items-center">
            <a th:href="@{/connections}" class="btn btn-secondary ml-auto"><i class="fas fa-bars"></i> 목록</a>
            <a class="btn btn-success text-white ml-1" data-toggle="modal" data-target="#studentSearchModal"><i class="fas fa-link"></i> 수강생 연결</a>
        </div>

        <h5>수강생 목록</h5>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">이름</th>
                        <th scope="col">생년월일</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">해제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student: ${instructorResponseDto.students}">
                        <th th:text="${student.id}"></th>
                        <th th:text="${student.name}"></th>
                        <th th:text="${student.birthDate}"></th>
                        <th th:text="${student.tel}"></th>
                        <th>
                            <a th:data-instructor-id="${instructorResponseDto.id}" th:data-student-id="${student.id}" class="text-danger release_student_button" href="#"><i class="fas fa-unlink"></i></a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- /* 수강생 연결 모달 */ -->
    <div class="modal fade" id="studentSearchModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수강생 검색</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" id="student_name_input_for_search" class="form-control" name="studentName" placeholder="수강생명, 전화번호">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" data-toggle="modal" id="student_search_button">검색</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive table table-sm" style="max-height: 300px; overflow: auto">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">이름</th>
                                <th scope="col">전화번호</th>
                            </tr>
                            </thead>
                            <tbody id="student_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /* 학부모 조회 검색 버튼 클릭시 */
        document.getElementById("student_search_button").addEventListener("click", (e) => {
            e.preventDefault();
            const keyword = document.getElementById("student_name_input_for_search").value;
            const studentRequest = new XMLHttpRequest();
            studentRequest.open("GET", "/students/student"+"?keyword="+keyword, true);
            studentRequest.onload = function(ev) {
                const responseJSON = JSON.parse(ev.currentTarget.response);
                if(studentRequest.status === 200) {
                    const studentList = responseJSON.data;
                    const tbody = document.getElementById("student_table_body");
                    tbody.innerHTML=""; /*검색시 부모 리스트 테이블 초기화*/

                    studentList.forEach(student => { /*학부모 검색 모달에서 학부모 리스트 표현하는 테이블*/
                        const tr = document.createElement("tr");
                        const td_id = document.createElement("td");
                        const td_name = document.createElement("td");
                        const td_tel = document.createElement("td");

                        const a_name = document.createElement('a');
                        a_name.href = "#";
                        a_name.innerText = student.name;
                        a_name.addEventListener("click", (eva) => {
                            eva.preventDefault();
                            const instructorId = [[ ${instructorResponseDto.id} ]];
                            const connectionRequest = new XMLHttpRequest();
                            connectionRequest.open("POST", "/connections/"+instructorId+"/"+student.id, true);
                            connectionRequest.addEventListener("load", (evc) => {
                                if(connectionRequest.status === 200){
                                    $('#studentSearchModal').modal('hide')
                                    history.go(0);
                                } else {
                                    alert("문제가 발생했습니다. \r\n 이미 등록된 수강생일 수 있습니다.")
                                }
                            })
                            connectionRequest.send()

                        })

                        td_id.innerText = student.id;
                        td_name.appendChild(a_name);
                        td_tel.innerText = student.tel;

                        tr.appendChild(td_id);
                        tr.appendChild(td_name);
                        tr.appendChild(td_tel);

                        tbody.appendChild(tr);
                    })
                } else {
                    console.error(responseJSON);
                }
            }
            studentRequest.send();
        })

        for(let target of document.getElementsByClassName("release_student_button")){
            target.addEventListener("click", (e) => {
                e.preventDefault();
                const instructorId = e.currentTarget.getAttribute("data-instructor-id");
                const studentId = e.currentTarget.getAttribute("data-student-id");
                const releaseConnectionRequest = new XMLHttpRequest();
                releaseConnectionRequest.open("POST", "/connections/release/"+instructorId+"/"+studentId);
                releaseConnectionRequest.onload = function(ev) {
                    if(releaseConnectionRequest.status === 200){
                        history.go(0);
                    } else {

                    }
                }
                releaseConnectionRequest.send();
            })
        }
    </script>
</body>
</html>