<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/head :: head">
    <title id="pageTitle">강사 메인</title>
</head>
<body>
    <div th:insert="~{instructor/nav/nav :: menu}"></div>
    <div class="container">
        <h4>Depot Music 레슨관리시스템 - 강사</h4>

        <div sec:authorize="isAuthenticated()">
            Roles: <span sec:authentication="principal.authorities"></span>
            Logged user: <span sec:authentication="name"></span>
        </div>
    </div>
</body>
</html>