<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <div th:fragment="menu">
            <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-3">
                <a class="navbar-brand" th:href="@{/}"><i class="fas fa-guitar"></i> Cellar Music</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/instructors}">강사</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/students}">수강생</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/connections}">수강생 연결</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/reports}">수강일지</a>
                        </li>
                    </ul>
                    <div class="ml-auto">
                        <div sec:authorize="isAuthenticated()">
                            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                                <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">로그아웃</button>
                            </form>
                        </div>
                        <div sec:authorize="!isAuthenticated()">
                            <form class="form-inline my-2 my-lg-0" th:action="@{/login}" method="get">
                                <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">로그인</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            <script th:src="@{/js/nav.js}"></script>
        </div>
    </body>
</html>