<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">비밀번호 변경</title>
</head>
<body>
<div th:insert="~{instructor/nav/nav :: menu}"></div>
    <div class="container" th:object="${changePasswordResponseDto}">
        <h4>비밀번호 변경</h4>
        <div class="mt-3"></div>
        <div th:if="${changePasswordResponseDto != null && changePasswordResponseDto.status==T(co.coldflow.depot_music.dto.EResponseStatus).ERROR}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>실패!</strong> <span th:text="${changePasswordResponseDto.message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${changePasswordResponseDto != null && changePasswordResponseDto.status==T(co.coldflow.depot_music.dto.EResponseStatus).SUCCESS}" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>성공!</strong> <span th:text="${changePasswordResponseDto.message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div
                class="d-flex mb-3"
        >
            <button
                    id="toggle_button"
                    class="btn btn-outline-primary ml-auto"
                    th:classappend="${changePasswordResponseDto != null && changePasswordResponseDto.status==T(co.coldflow.depot_music.dto.EResponseStatus).ERROR ? 'd-none' : ''}"
            >
                비밀번호 변경하기
            </button>
        </div>
        <form
                id="change_password_form"
                th:class="${changePasswordResponseDto != null && changePasswordResponseDto.status==T(co.coldflow.depot_music.dto.EResponseStatus).ERROR ? '' : 'd-none'}"
                th:action="@{/instructor/change_password}"
                th:object="${changePasswordRequestDto}"
                method="post"
        >
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label" for="prevPassword"> 이전 비밀번호 </label>
                <div class="col-9">
                    <input required type="password" id="prevPassword" class="form-control" name="prevPassword">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label" for="newPassword"> 신규 비밀번호 </label>
                <div class="col-9">
                    <input required type="password" id="newPassword" class="form-control" name="newPassword">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label" for="checkPassword"> 신규 비밀번호 </label>
                <div class="col-9">
                    <input required type="password" id="checkPassword" class="form-control" name="checkPassword">
                </div>
            </div>
            <div class="my-4">
                <input type="submit" class="btn btn-danger btn-block" value="수정">
            </div>
        </form>
    </div>
    <script>
        document.getElementById("toggle_button").addEventListener("click", (e) => {
            e.target.classList.add("d-none");
            document.getElementById("change_password_form").classList.remove("d-none")
        })

    </script>
</body>
</html>